/*RESET*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol,
menu {
	list-style: none;
}

a {
	text-decoration: none;
	color: currentColor;
}

img {
	max-width: 100%;
}

body {
	font-family: "PT Sans", sans-serif;
}

/*LAYOUT*/

.container, .container-sm {
	width: 100%;
    margin: 0 auto;
}

.container {
	padding: 0 12px;
}

.row {
	display: flex;
    flex-wrap: wrap;
}

/*COMPONENTS*/

.button {
	background-color: white;
    color: black;
    border-radius: 20px;
    line-height: 40px;
    padding: 0 20px;
    text-align: center;
    display: inline-block;
}

.button.button-blue {
	background-color: #0084FD;
    color: white;
    padding: 0 40px;
}

/*HEADER*/

.page-header {
	background-color: #0084FD;
    color: white;
    padding: 15px 12px;
    margin-bottom: 30px;
}

.page-header .row {
    justify-content: space-between;	
    align-items: center;
}

.page-header .logo {
    width: 50px;
}

.header-menu {
	display: none
}

/*HERO*/

.hero .card {
    height: 100%;
	background-color: #B5DDFF;
    color: #617789;
    padding: 20px 20px 0;
    border-radius: 20px;
}

.hero .row {
    row-gap: 24px;
}

.hero .col {
    padding: 0 12px;
}

.col:not(.col-demo) .card-body {
    text-align: center;
    padding-bottom: 20px;
}

.card-title {
	color: #0084FD;
    margin-bottom: 20px;
}

.card-paragraph {
    margin-bottom: 20px;
}

.card-icon {
    color:#0084FD;
    font-size: 70px;
    margin-bottom: 15px;
}

.hero img {
	display: block;
    margin-top: 20px;
}

/*UTILITIES*/

/*RESPONSIVE*/

@media (min-width: 576px) {
    .hero .col {
        width: calc(4 * 100% / 12);
    }
    .hero .col.col-demo {
        width: calc(8 * 100% / 12);
    }
    .hero img {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .container{
        max-width: 1200px;
    }

    .header-menu {
	    display: flex;
        gap: 24px;
        align-items: center;
    }
    .burger-menu {
        display: none
    }
}
